.form-row {
  margin: 0 0 16px;
  max-width: 420px;
  font-size: 0;
  width: 100%;
}

.label {
  display: inline-block;
  vertical-align: top;
  min-width: 120px;
  font-size: 14px;
  margin: 0 0 4px;
}

.input {
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #DEE5EC;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
  box-shadow: none;
  min-width: 300px;
  font-size: 14px;
  padding: 0 8px;
  height: 32px;
  outline: 0;
  margin: 0;
}

.select-list {
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #DEE5EC;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: none;
  min-width: 300px;
  font-size: 14px;
  padding: 0 8px;
  height: 32px;
  outline: 0;
  margin: 0;
}

.select {
  display: inline-block;
  position: relative;
}

.select:after {
  border-color: #6E7C89 transparent transparent transparent;
  border-width: 4px 4px 0 4px;
  border-style: solid;
  position: absolute;
  display: block;
  content: '';
  right: 12px;
  top: 13px;
  height: 0;
  width: 0;
}

.radio {
  margin: 0;
}

.file {
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #DEE5EC;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  padding: 8px;
  width: 300px;
  outline: 0;
  margin: 0;
}

.textarea {
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #DEE5EC;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  font-size: 14px;
  height: 120px;
  resize: none;
  width: 300px;
}

.button {
  -webkit-appearance: none;
  appearance: none;

  background-color: #40b87c;
  border-radius: 3px;
  margin: 0 0 0 auto;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  color: #ffffff;
  border: none;
  outline: 0;
}